.navbar-brand {
    font-size: 16px;
    font-style: italic;
    color: #dc3545;
}

.find {
    cursor: pointer;
}

.cardfloat:hover {
    background-color: #fff;
}

.carousel-item {
    max-height: 400px;
}